# First look at different datasets

Data on deaths and confirmed cases come from NYTimes: https://github.com/nytimes/covid-19-data
Data on Non-Pharmaceutical Interventions from Keystone Strategy: https://github.com/Keystone-Strategy/covid19-intervention-data

## Import packages

In [208]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
%matplotlib inline

## Data on confirmed cases and deaths

### Import data on confirmed cases and deaths

In [209]:
df_conf = pd.read_csv('../data/covid_confirmed_usafacts.csv')
df_conf.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,1,4,6,6,6
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,1,2,2,3,3,4,4,5,5,10
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [210]:
df_deaths = pd.read_csv('../data/covid_deaths_usafacts.csv')
df_deaths.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Construct new county variable for merges

In [211]:
df_conf["County"] = df_conf[["County Name", "State"]].agg(', '.join, axis=1)
df_conf.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,County
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Statewide Unallocated, AL"
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,0,0,0,1,4,6,6,6,"Autauga County, AL"
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,2,2,3,3,4,4,5,5,10,"Baldwin County, AL"
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Barbour County, AL"
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Bibb County, AL"

In [212]:
df_deaths["County"] = df_deaths[["County Name", "State"]].agg(', '.join, axis=1)
df_deaths.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,County
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Statewide Unallocated, AL"
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Autauga County, AL"
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Baldwin County, AL"
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Barbour County, AL"
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Bibb County, AL"

## Reshape to get panel data

In [213]:
# list of variable names with dates
col_date_aux = df_deaths.filter(regex='/2020')
col_date = list(col_date_aux.columns)
col_date

col_date[:5]

['1/22/2020', '1/23/2020', '1/24/2020', '1/25/2020', '1/26/2020']

In [214]:
# Reshape
df_deaths = pd.melt(df_deaths, id_vars=['County'], 
                       value_vars=col_date[:],
                       var_name='Date', value_name='Deaths')
df_deaths

                           County       Date  Deaths
0       Statewide Unallocated, AL  1/22/2020       0
1              Autauga County, AL  1/22/2020       0
2              Baldwin County, AL  1/22/2020       0
3              Barbour County, AL  1/22/2020       0
4                 Bibb County, AL  1/22/2020       0
...                           ...        ...     ...
214194      Sweetwater County, WY  3/28/2020       0
214195           Teton County, WY  3/28/2020       0
214196           Uinta County, WY  3/28/2020       0
214197        Washakie County, WY  3/28/2020       0
214198          Weston County, WY  3/28/2020       0

[214199 rows x 3 columns]

In [215]:
# Reshape
df_conf = pd.melt(df_conf, id_vars=['County'], 
                       value_vars=col_date[:],
                       var_name='Date', value_name='Confirmed')
df_conf

                           County       Date  Confirmed
0       Statewide Unallocated, AL  1/22/2020          0
1              Autauga County, AL  1/22/2020          0
2              Baldwin County, AL  1/22/2020          0
3              Barbour County, AL  1/22/2020          0
4                 Bibb County, AL  1/22/2020          0
...                           ...        ...        ...
214194      Sweetwater County, WY  3/28/2020          1
214195           Teton County, WY  3/28/2020         14
214196           Uinta County, WY  3/28/2020          0
214197        Washakie County, WY  3/28/2020          1
214198          Weston County, WY  3/28/2020          0

[214199 rows x 3 columns]

## Data on Non-pharmaceutical Interventions

### Import data

In [216]:
df_npi = pd.read_csv('../../covid19-intervention-data/npi_data_03-24-2020.csv')
df_npi.head()

,Intervention,SDO,SD,GS_500,GS_250,GS_100,GS_50,GS_25,GS_10,PC,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,"Alameda County, CA",3/12/2020,3/17/2020,NaN,3/12/2020,NaN,NaN,NaN,NaN,3/17/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bergen County, NJ",3/10/2020,3/13/2020,NaN,3/13/2020,NaN,3/16/2020,NaN,NaN,3/11/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Bexar County, TX",3/11/2020,3/18/2020,NaN,NaN,NaN,3/16/2020,NaN,3/16/2020,3/20/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Westchester County, NY",NaN,3/16/2020,3/13/2020,NaN,NaN,NaN,NaN,NaN,3/16/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Wayne County, Michigan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3/13/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
df_npi.columns

Index(['Intervention', 'SDO', 'SD', 'GS_500', 'GS_250', 'GS_100', 'GS_50',
       'GS_25', 'GS_10', 'PC', 'CPV', 'NESC', 'LD', 'PTQS', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

### Clean data

In [218]:
col_use_aux = df_npi.filter(regex='Unnamed')
col_unnamed = list(col_use_aux.columns)
col_unnamed

['Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26']

In [219]:
df_npi = df_npi.drop(col_unnamed, axis=1)

In [220]:
df_npi.dtypes

Intervention     object
SDO              object
SD               object
GS_500           object
GS_250           object
GS_100           object
GS_50            object
GS_25            object
GS_10            object
PC               object
CPV              object
NESC             object
LD              float64
PTQS             object
dtype: object

In [221]:
# Reduce to list of variables of interest
col_npi_aux = df_npi.drop("Intervention", axis=1)
col_npi = list(col_npi_aux.columns)
col_npi

['SDO',
 'SD',
 'GS_500',
 'GS_250',
 'GS_100',
 'GS_50',
 'GS_25',
 'GS_10',
 'PC',
 'CPV',
 'NESC',
 'LD',
 'PTQS']

In [222]:
# Convert dates to date type
def conv_dates(df):
    
    for col in col_npi:
        df[col] = pd.to_datetime(df[col])

In [223]:
df_npi_date = conv_dates(df_npi)

In [224]:
df_npi.head()

,Intervention,SDO,SD,GS_500,GS_250,GS_100,GS_50,GS_25,GS_10,PC,CPV,NESC,LD,PTQS
0,"Alameda County, CA",2020-03-12,2020-03-17,NaT,2020-03-12,NaT,NaT,NaT,NaT,2020-03-17,2020-03-17,2020-03-17,NaT,2020-03-09
1,"Bergen County, NJ",2020-03-10,2020-03-13,NaT,2020-03-13,NaT,2020-03-16,NaT,NaT,2020-03-11,2020-03-13,2020-03-13,NaT,2020-02-07
2,"Bexar County, TX",2020-03-11,2020-03-18,NaT,NaT,NaT,2020-03-16,NaT,2020-03-16,2020-03-20,2020-03-18,NaT,NaT,NaT
3,"Westchester County, NY",NaT,2020-03-16,2020-03-13,NaT,NaT,NaT,NaT,NaT,2020-03-16,2020-03-16,2020-03-20,NaT,NaT
4,"Wayne County, Michigan",NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2020-03-13,2020-03-16,2020-03-16,NaT,NaT

In [225]:
df_npi.dtypes

Intervention            object
SDO             datetime64[ns]
SD              datetime64[ns]
GS_500          datetime64[ns]
GS_250          datetime64[ns]
GS_100          datetime64[ns]
GS_50           datetime64[ns]
GS_25           datetime64[ns]
GS_10           datetime64[ns]
PC              datetime64[ns]
CPV             datetime64[ns]
NESC            datetime64[ns]
LD              datetime64[ns]
PTQS            datetime64[ns]
dtype: object

## Descriptives on NPIs in place

### How many counties have implemented each NPI?

In [226]:
# Count counties with non-missing entries by NPI
def count_npis(df, col):
    return df[col].value_counts(dropna=False).sort_values()

In [227]:
count_npis(df_npi, "SDO")

2020-03-13     1
2020-03-16     1
2020-03-03     1
2020-03-12     1
2020-03-18     1
2020-03-21     1
2020-03-08     1
2020-03-20     1
2020-03-10     1
2020-03-09     2
2020-03-11     2
2020-03-05     3
NaT           14
Name: SDO, dtype: int64

In [228]:
count_npis(df_npi, "SD")

2020-03-19    1
2020-03-15    1
2020-03-18    1
2020-03-10    1
2020-03-22    2
2020-03-24    2
2020-03-13    3
2020-03-16    3
2020-03-20    3
2020-03-21    4
NaT           4
2020-03-17    5
Name: SD, dtype: int64

In [229]:
count_npis(df_npi, "GS_250")

2020-03-16     1
2020-03-12     1
2020-03-11     2
2020-03-13     9
NaT           17
Name: GS_250, dtype: int64

In [230]:
count_npis(df_npi, "GS_100")

2020-03-13     1
2020-03-15     1
2020-03-14     1
NaT           27
Name: GS_100, dtype: int64

In [231]:
count_npis(df_npi, "GS_50")

2020-03-15     1
2020-03-17     1
2020-03-18     2
2020-03-16    11
NaT           15
Name: GS_50, dtype: int64

In [232]:
count_npis(df_npi, "GS_25")

2020-03-17     3
NaT           27
Name: GS_25, dtype: int64

In [233]:
count_npis(df_npi, "GS_10")

2020-03-16     1
2020-03-18     1
2020-03-20     1
2020-03-19     2
NaT           25
Name: GS_10, dtype: int64

In [234]:
count_npis(df_npi, "CPV")

2020-03-13     1
2020-03-18     1
2020-03-19     2
NaT            2
2020-03-17    10
2020-03-16    14
Name: CPV, dtype: int64

In [235]:
count_npis(df_npi, "PC")

2020-03-19     1
2020-03-12     1
2020-03-11     1
2020-03-20     1
NaT            1
2020-03-18     2
2020-03-13     3
2020-03-17     6
2020-03-16    14
Name: PC, dtype: int64

In [236]:
count_npis(df_npi, "NESC")

2020-03-13    1
2020-03-16    2
2020-03-22    2
2020-03-19    3
2020-03-21    5
2020-03-20    5
2020-03-17    6
NaT           6
Name: NESC, dtype: int64

In [237]:
count_npis(df_npi, "LD")

NaT    30
Name: LD, dtype: int64